
__pycache__/

.idea/

.vscode/
# 模型参数存放文件夹 # 模型文件过大
model/VGG/train_99_0.9036999940872192.pth
model/ResNet/train_100_0.9126999974250793.pth
model/SimpleDLA/train_98_0.9038999676704407.pth
# 数据集存放文件夹
datasets/cifar-10-batches-py/
datasets/cifar-10-python.tar.gz
# 虚拟环境
venv/
# tensorboard 记录的训练过程
tb/